<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Website description here" />
        <meta name="keywords" content="website,keywords,here">
        <meta name="viewport" content="initial-scale=1.0,width=device-width" />
        <link href="https://fonts.googleapis.com/static/css?family=Nunito:700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/static/css?family=Nunito&amp;display=swap" rel="stylesheet" />
        <link href="http://fonts.googleapis.com/static/css?family=Open Sans" rel="stylesheet" type="text/static/css" />
        <link href="static/css/main.css" rel="stylesheet"  />
        <script src="static/js/jqueryjs"></script>
        <script src="static/js/main.js"></script>
        <title>Website</title>
    </head>
    <body>
        <div id="main-content">
            <a name="home"></a>
            <div id="header">
                <div class="area">
                    <div id="logo">
                        <a href="#">
                            <img id="light-logo" style="display: inline;" alt="website logo" src="static/images/logo.png" />
                            <img id="dark-logo" style="display: none;" alt="website logo" src="static/images/logo-dark.png" />
                        </a>
                    </div>
                    <div id="navigation">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div id="responsive-icon" onclick="$('#responsive-menu').slideToggle();">
                        <a href="javascript:void(0);"><img id="mobile-image" src="static/images/menu.png" /></a>
                    </div>
                </div>
            </div>
            <div id="responsive-menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <img class="bg" src="static/images/background.jpg" />
            <div class="mainpage-display">
                <h1 class="mainpage-heading">Buisness Solutions Networking</h1>
                <p class="mainpage-p"></p>
                <br />
                <button class="filled-button">Sign up</button>
                <button class="transparent-button">Learn more</button>
            </div>
            <img style="width: 100%; margin-top: 7em;" draggable="false" src="static/images/cover.png" /><a name="features"></a>
            <div class="boxes-container" style="padding-top: 7em; margin-top: -0.32em;">
                <h1 id="box-h1">Features</h1>
                <div class="home-box">
                    <img src="static/images/2023-06-20_21-03-39.png" />
                    <h1>Our Story</h1>
                    <p>We are a close knit group that come from a diverse background in marketing, retail, and technology. </p>
                </div>
                <div class="home-box">
                    <img src="static/images/2023-06-20_21-14-31.png" />
                    <h1>Our Approach</h1>
                    <p>We are dedicated to providing exceptional services that drive growth, enhance brand visibility, and optimize customer engagement.</p>
                </div>
                <div class="home-box">
                    <img src="static/images/content-placeholder.png" />
                    <h1>Our Promise</h1>
                    <p>Customer service to you is our first and last priority. We will make sure your needs are fulfilled and continue to support your growth.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="boxes-container" id="quote-container">
                <h1 id="ldq">“</h1>
                <blockquote id="main-quote">Our Mission</blockquote>
                <h1 id="rdq">”</h1>
                <h1 id="quote-by" style="padding-left: 16px;">- Our mission is to power small businesses through strategic marketing and innovative enterprise technologies, enabling them to thrive in a rapidly evolving digital landscape. Through collaboration, creativity, and a customer-centric approach, we strive to build lasting partnerships and become a trusted partner for businesses seeking to maximize their potential in the digital age.</h1>
                <div class="clear"></div>
            </div>
            <a name="contact"></a>
            <div id="contact-form-layout">
                <h1 class="mainpage-heading left">Contact us</h1>
                <input class="textbox" type="text" placeholder="Name" />
                <input class="textbox" type="text" placeholder="Email" />
                <textarea class="textfield" placeholder="Your message"></textarea>
                <button id="submit" class="transparent-button">Submit</button>
            </div>
        </div>

        <div id="footer">
            <div class="wrapper">
                <div class="footer-left" style="padding-left: 2em;">
                    <ul>
                        <li>📞&nbsp;(phone number here)</li>
                        <li>✉️&nbsp;(email here)</li>
                        <li>📍&nbsp;(Address here)</li>
                    </ul>
                </div>
                <div class="footer-left">
                    <ul>
                        <li>&nbsp;<a style="display: inline;" href="#">About Us</a></li>
                        <li>&nbsp;<a style="display: inline;" href="#">Help</a></li>
                        <li>&nbsp;<a style="display: inline;" href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="clear-mob"></div>
                <div class="footer-right">
                    <div style="padding-left: 1.5em;">
                        <div id="newsletter">
                            <p id="subscribe-text">Subscribe to our newsletter</p>
                            <input class="textbox" id="sub-email" style="display: inline-block;" type="text" placeholder="Your Email" />
                            <input class="filled-button" id="subscribe" onclick="subscribe();" type="button" value="Subscribe" />
                            <p id="newsletter-error"></p>
                        </div>
                        <div>
                            <a href="#" target="_blank"><img class="social-media-img" src="static/images/facebook.png" /></a>
                            <a href="#" target="_blank"><img class="social-media-img" src="static/images/instagram.png" /></a>
                            <span id="copyright">&nbsp;© Copyright notice here</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
